

@import '_config.scss';
@import '_layout.scss';
@import '_tutorial.scss';
@import '_utilities.scss';
@import '_home.scss';
@import '_mobile.scss';
@import '_map.scss';
@import '_popup.scss';
@import '_seemap.scss';


.working-link {
  font-weight: 600;
  letter-spacing: 1px;
  color: darken($general-background, 10%) !important;
}